@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: hsl(275 83% 7%);
  --color-secondary: hsl(283 83% 11%);
  --color-muted: hsl(0 0% 43%);
}

:root {

}

.hidden {
  opacity: 0;
}